/*index*/
/*header*/
.CuerpoIndex, footer, .main__nosotros .contenido__historia, .main__galeria .galeria__productos, .main__contacto .contenido__contacto {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*-------HEADER----------*/
.bg-colorHeader {
  background-color: #4d85ce; }

header .Logo {
  width: 7rem;
  height: 7rem; }

header .TituloMeditech {
  margin: 0.2rem;
  padding: 0.5rem; }

header .TituloMeditech :hover, header .TituloMeditech:active, header .TituloMeditech:focus {
  color: #ffffff;
  transition: color .15s ease-in-out; }

header nav li {
  margin: 1rem;
  padding: 5px 3.5px;
  border: 1px solid #ffffffba;
  border-radius: .25rem;
  color: #ffffff;
  transition: color .15s ease-in-out, background-color .15s ease-in-out; }

header nav li:hover, header nav li:active, header nav li:focus {
  color: #ffffff;
  background-color: #ffffff; }

/*------main index-------*/
.bg-colorMain {
  background-color: #d4ffff;
  padding: 20px; }

.CuerpoIndex {
  grid-template-columns: auto;
  grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
  grid-template-areas: "section2" "section3__imgmuestra2" "section4" "section5__imgmuestra3"; }
  .CuerpoIndex .section2 {
    grid-area: section2;
    margin: 0.2rem;
    padding: 0.5rem; }
  .CuerpoIndex .section2__nuestrasfunciones {
    color: black;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #000000ba;
    border-radius: .25rem;
    font-size: 20px;
    font-family: 'Roboto', sans-serif; }
  .CuerpoIndex .section2__nuestrasfunciones__p {
    color: black;
    text-align: center;
    text-align: justify;
    font-family: 'Nanum Gothic', sans-serif; }
  .CuerpoIndex .section3__imgmuestra2 {
    grid-area: section3__imgmuestra2;
    width: 23rem;
    height: 20rem; }
  .CuerpoIndex .section4 {
    grid-area: section4;
    margin: 0.2rem;
    padding: 0.5rem; }
  .CuerpoIndex .section4__nuestrosserviciosyproductos {
    color: black;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #000000ba;
    border-radius: .25rem;
    font-size: 20px;
    font-family: 'Roboto', sans-serif; }
  .CuerpoIndex .section4__nuestrosserviciosyproductos__P {
    color: black;
    text-align: center;
    text-align: justify;
    font-family: 'Nanum Gothic', sans-serif; }
  .CuerpoIndex .section5__imgmuestra3 {
    grid-area: section5__imgmuestra3;
    width: 23rem;
    height: 20rem; }

/*------- Footer------- */
footer {
  background-color: #4d85ce;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.3fr;
  grid-template-areas: "footer__div1 footer__div2" "footer__div3 footer__div3 " "section6 section6";
  text-align: left; }
  footer .footer__div1 {
    grid-area: footer__div1;
    margin: 0.3rem;
    padding: 0.5rem;
    font-family: 'Nanum Gothic', sans-serif;
    list-style: none;
    color: black; }
    footer .footer__div1 .redesSociales__lista {
      list-style: none; }
      footer .footer__div1 .redesSociales__lista .facebook {
        display: inline;
        color: black;
        text-decoration: none; }
        footer .footer__div1 .redesSociales__lista .facebook .logo_facebook {
          display: inline;
          width: 1rem;
          height: 1rem;
          margin: 0.2rem;
          padding: 0; }
      footer .footer__div1 .redesSociales__lista .facebook :hover, footer .footer__div1 .redesSociales__lista .facebook:active, footer .footer__div1 .redesSociales__lista .facebook:focus {
        color: #ffffff;
        transition: color .15s ease-in-out; }
      footer .footer__div1 .redesSociales__lista .instagram {
        display: inline;
        color: black;
        text-decoration: none; }
        footer .footer__div1 .redesSociales__lista .instagram .logo_instagram {
          display: inline;
          width: 1rem;
          height: 1rem;
          margin: 0.2rem;
          padding: 0; }
      footer .footer__div1 .redesSociales__lista .instagram :hover, footer .footer__div1 .redesSociales__lista .instagram:active, footer .footer__div1 .redesSociales__lista .instagram:focus {
        color: #ffffff;
        transition: color .15s ease-in-out; }
      footer .footer__div1 .redesSociales__lista .twitter {
        display: inline;
        color: black;
        text-decoration: none; }
        footer .footer__div1 .redesSociales__lista .twitter .logo_twitter {
          display: inline;
          width: 1rem;
          height: 1rem;
          margin: 0.2rem;
          padding: 0; }
      footer .footer__div1 .redesSociales__lista .twitter :hover, footer .footer__div1 .redesSociales__lista .twitter:active, footer .footer__div1 .redesSociales__lista .twitter:focus {
        color: #ffffff;
        transition: color .15s ease-in-out; }
  footer .footer__div2 {
    grid-area: footer__div2;
    margin: 0.3rem;
    padding: 0.5rem;
    font-family: 'Nanum Gothic', sans-serif;
    list-style: none;
    color: black; }
  footer .footer__div3 {
    grid-area: footer__div3;
    margin-top: 0.5rem; }
  footer .section6 {
    grid-area: section6;
    text-align: center;
    margin: 0.5rem;
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    color: black; }

/*----- main nosotros --------*/
.main__nosotros .Nosotros {
  color: black;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #000000ba;
  border-radius: .25rem;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin: 1rem 0.3rem;
  padding: 1.3rem;
  font-size: 2.5rem; }

.main__nosotros .contenido__historia {
  grid-template-columns: 30rem;
  grid-template-rows: 1fr 0.1fr 1fr;
  grid-template-areas: "imgNosotros" "Historia" "Historia__parrafo"; }
  .main__nosotros .contenido__historia .Historia {
    grid-area: Historia;
    color: black;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #000000ba;
    border-radius: .25rem;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
    padding: 1rem; }
  .main__nosotros .contenido__historia .Historia__parrafo {
    grid-area: Historia__parrafo;
    margin: 0.1rem;
    padding: 1rem 4rem;
    color: black;
    text-align: center;
    text-align: justify;
    font-family: 'Nanum Gothic', sans-serif; }
  .main__nosotros .contenido__historia .imgNosotros {
    grid-area: imgNosotros;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 23rem;
    height: 20rem; }

/*----- Productos -----*/
.main__productos .productos {
  color: black;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #000000ba;
  border-radius: .25rem;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin: 0.1rem;
  padding: 1.3rem;
  font-size: 2.5rem; }

/*------ Galeria ----*/
.main__galeria .galeria__productos {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "card__desfibrilador" "card__electrocardiografo" "card__electrobisturi" "card__maquinaDeAnestesia" "card__lamparaCielticia" "card__rayos-x"; }
  .main__galeria .galeria__productos .card__desfibrilador {
    grid-area: card__desfibrilador; }
  .main__galeria .galeria__productos .card__electrocardiografo {
    grid-area: card__electrocardiografo; }
  .main__galeria .galeria__productos .card__electrobisturi {
    grid-area: card__electrobisturi; }
  .main__galeria .galeria__productos .card__maquinaDeAnestesia {
    grid-area: card__maquinaDeAnestesia; }
  .main__galeria .galeria__productos .card__lamparaCielticia {
    grid-area: card__lamparaCielitica; }
  .main__galeria .galeria__productos .card__rayos-x {
    grid-area: card__rayos-x; }

/*------ Contacto ----*/
.main__contacto .Contacto {
  color: black;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #000000ba;
  border-radius: .25rem;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin: 0.1rem;
  padding: 1.3rem;
  font-size: 2.5rem; }

.main__contacto .contenido__contacto {
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.1fr;
  grid-template-areas: "imagen__bienvenida" "formulario__contacto";
  text-align: left; }
  .main__contacto .contenido__contacto .imagen__bienvenida {
    grid-area: imagen__bienvenida;
    margin: 3rem;
    padding: 1rem;
    width: 23rem;
    height: 20rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }
  .main__contacto .contenido__contacto .formulario__contacto {
    grid-area: formulario__contacto; }

/*------ mediaqueries----*/
@media screen and (min-width: 768px) {
  /*-------- index -------*/
  .CuerpoIndex {
    grid-template-columns: auto;
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
    grid-template-areas: "section2" "section3__imgmuestra2" "section4" "section5__imgmuestra3"; }
    .CuerpoIndex .section3__imgmuestra2 {
      width: 32rem;
      height: 24rem; }
    .CuerpoIndex .section5__imgmuestra3 {
      width: 32rem;
      height: 24rem; }
  /*--------Nosotros--------*/
  .main__nosotros .contenido__historia {
    grid-template-columns: auto;
    grid-template-rows: 1fr 0.1fr 0.5fr;
    grid-template-areas: "imgNosotros" "Historia" "Historia__parrafo"; }
    .main__nosotros .contenido__historia .imgNosotros {
      width: 32rem;
      height: 24rem; }
    .main__nosotros .contenido__historia .Historia__parrafo {
      margin: 0.2rem;
      padding: 1rem 4rem; }
  /*--------Productos--------*/
  /*--------galeria----------*/
  .main__galeria .galeria__productos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "card__desfibrilador card__electrocardiografo" "card__electrobisturi card__maquinaDeAnestesia" "card__lamparaCielticia card__rayos-x"; }
  /*--------Contacto---------*/
  .main__contacto .contenido__contacto {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.1fr;
    grid-template-areas: "imagen__bienvenida" "formulario__contacto"; }
    .main__contacto .contenido__contacto .imagen__bienvenida {
      grid-area: imagen__bienvenida;
      width: 32rem;
      height: 24rem; } }

@media screen and (min-width: 1024px) {
  /*--------- index----------*/
  .CuerpoIndex {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "section3__imgmuestra2 section2 " "section4 section5__imgmuestra3"; }
    .CuerpoIndex .section1__imgmuestra1 {
      width: 40rem;
      height: 25rem; }
    .CuerpoIndex .section2 {
      margin: 0.2rem;
      padding: 0.5rem; }
    .CuerpoIndex .section3__imgmuestra2 {
      width: 40rem;
      height: 25rem;
      margin: 0.5rem; }
    .CuerpoIndex .section5__imgmuestra3 {
      width: 40rem;
      height: 25rem; }
    .CuerpoIndex .section4 {
      margin: 0.8rem;
      padding: 0.5rem; }
    .CuerpoIndex .section5__imgmuestra3 {
      width: 23rem;
      height: 20rem; }
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.3fr;
    grid-template-areas: "footer__div1 footer__div2 footer__div3" "section6 section6 section6"; }
  /*------- Nosotros ---------*/
  .main__nosotros .contenido__historia {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: "Historia imgNosotros" "Historia__parrafo imgNosotros"; }
  .Nosotros {
    margin: 2rem;
    padding: 0rem; }
  .Historia__parrafo {
    margin: 0.3rem;
    padding: 0.8rem 0rem; }
  .imgNosotros {
    width: 30rem;
    height: 20rem; }
  /*----------Galeria--------*/
  .main__galeria {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 2fr 2fr;
    grid-template-areas: "Galeria Galeria Galeria" "desfibrilador rayos-x electrocardiografo"  "electrobisturi maquinaDeAnestesia lamparaCielitica"; }
  /*----------Productos--------*/
  .main__galeria .galeria__productos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "card__desfibrilador card__electrocardiografo card__electrobisturi" " card__maquinaDeAnestesia card__lamparaCielticia card__rayos-x"; }
  /*----------Contacto--------*/
  .main__contacto .contenido__contacto {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr;
    grid-template-areas: "formulario__contacto imagen__bienvenida"; }
    .main__contacto .contenido__contacto .imagen__bienvenida {
      width: 32rem;
      height: 30rem; } }
