/*index*/
/*header*/
@import "base/variables";
@import "base/mixin";
@import "base/extend";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------HEADER----------*/
.bg-colorHeader{
    background-color: $color-headerAndFooter;
}
header {
    .Logo{
        width: 7rem;
        height: 7rem;
    }
    .TituloMeditech{
        @include box-modelSection(0.2rem, 0.5rem);   
    }
    .TituloMeditech :hover, .TituloMeditech:active, .TituloMeditech:focus{
        color: #ffffff;
        transition: color .15s ease-in-out;
    }
}


header nav li{
    @include headerNav;
}

header nav li:hover, header nav li:active, header nav li:focus {
    color: #ffffff;
    background-color: #ffffff;
}


/*------main index-------*/

.bg-colorMain{
    background-color: $color-PrincipalMain;
    padding: 20px;
}

.CuerpoIndex{
@extend %GridStruct;
grid-template-columns: auto ;
grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
grid-template-areas:
                    "section2"
                    "section3__imgmuestra2"
                    "section4"
                    "section5__imgmuestra3";
    .section2{
        grid-area: section2;
        @include box-modelSection(0.2rem, 0.5rem)
    }
    .section2__nuestrasfunciones{
        @include TitulosParrafos
    }
    .section2__nuestrasfunciones__p{
        @include ParrafosIndex
    }
    .section3__imgmuestra2{
        grid-area: section3__imgmuestra2;
        @include MedidaImagen(23rem, 20rem)
    }
    .section4{
        grid-area: section4;
        @include box-modelSection(0.2rem, 0.5rem)
    }
    .section4__nuestrosserviciosyproductos{
        @include TitulosParrafos
    }
    .section4__nuestrosserviciosyproductos__P{
        @include ParrafosIndex
    }
    .section5__imgmuestra3{
        grid-area: section5__imgmuestra3;
        @include MedidaImagen(23rem, 20rem)
    }
}

/*------- Footer------- */

footer{
    background-color: $color-headerAndFooter;
    @extend %GridStruct;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 0.5fr 1fr 0.3fr;
    grid-template-areas: 
                        "footer__div1 footer__div2"
                        "footer__div3 footer__div3 "
                        "section6 section6";
    text-align: left;
    .footer__div1{
        grid-area:footer__div1;
        @include footerStyleLi;
        .redesSociales__lista{
            list-style: none;
            .facebook{
                display: inline;
                color: black;
                text-decoration: none;
                .logo_facebook{
                    display: inline;
                    @include MedidaImagen(1rem,1rem);
                    @include box-modelSection(0.2rem,0);
                }
            }
            .facebook :hover, .facebook:active, .facebook:focus{
                color: #ffffff;
                transition: color .15s ease-in-out;
            }
            .instagram{
                display: inline;
                color: black;
                text-decoration: none;
                .logo_instagram{
                    display: inline;
                    @include MedidaImagen(1rem,1rem);
                    @include box-modelSection(0.2rem,0);
                }
            }
            .instagram :hover, .instagram:active, .instagram:focus{
                color: #ffffff;
                transition: color .15s ease-in-out;
            }
            .twitter{
                display: inline;
                color: black;
                text-decoration: none;
                .logo_twitter{
                    display: inline;
                    @include MedidaImagen(1rem,1rem);
                    @include box-modelSection(0.2rem,0);
                }
            }
            .twitter :hover, .twitter:active, .twitter:focus{
                color: #ffffff;
                transition: color .15s ease-in-out;
            }
        }
    }
    .footer__div2{
        grid-area:footer__div2;
        @include footerStyleLi;
    }
    .footer__div3{
        grid-area: footer__div3 ;
        margin-top: 0.5rem;
        @include footerStyleLi
    }
    .section6{
        grid-area: section6;
        @include footerStyleReservText;
    }
}

/*----- main nosotros --------*/
.main__nosotros{
    .Nosotros{
        @include TitulosParrafos;
        @include box-modelSection(1rem 0.3rem,1.3rem);
        font-size: 2.5rem;
    }
    .contenido__historia{
        @extend %GridStruct;
        grid-template-columns: 30rem;
        grid-template-rows: 1fr 0.1fr 1fr;
        grid-template-areas: 
                            "imgNosotros"
                            "Historia"
                            "Historia__parrafo";

        .Historia{
            grid-area: Historia;
            @include TitulosParrafos;
            @include box-modelSection(1rem,1rem);
        }  
        .Historia__parrafo{
            grid-area: Historia__parrafo;
            @include box-modelSection(0.1rem,1rem 4rem);
            @include ParrafosHistoria
        } 
        .imgNosotros{
            grid-area: imgNosotros;
            @include box-modelSection(0.5rem,0.5rem);
            @include MedidaImagen(23rem, 20rem)
        }
    }
}

/*----- Productos -----*/
.main__productos{
    text-align: justify;
    .productos{
        @include TitulosParrafos;
        @include box-modelSection(0.1rem,1.3rem);
        font-size: 2.5rem;
    }
}

/*------ Galeria ----*/
.main__galeria{
    .galeria__productos{
        @extend %GridStruct;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
                            "card__desfibrilador"
                            "card__electrocardiografo"
                            "card__electrobisturi"
                            "card__maquinaDeAnestesia"
                            "card__lamparaCielticia"
                            "card__rayos-x";
        .card__desfibrilador{
            grid-area: card__desfibrilador;
        }
        .card__electrocardiografo{
            grid-area: card__electrocardiografo;
        }
        .card__electrobisturi{
            grid-area: card__electrobisturi;
        }
        .card__maquinaDeAnestesia{
            grid-area: card__maquinaDeAnestesia;
        }
        .card__lamparaCielticia{
            grid-area: card__lamparaCielitica;
        }
        .card__rayos-x{
            grid-area: card__rayos-x;
        }
    }
}

/*------ Contacto ----*/
.main__contacto{
    .Contacto{
        @include TitulosParrafos;
        @include box-modelSection(0.1rem,1.3rem);
        font-size: 2.5rem;
    }
    .contenido__contacto{
        @extend %GridStruct;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.1fr;
        grid-template-areas: 
                            "imagen__bienvenida"
                            "formulario__contacto";
        text-align: left;

        .imagen__bienvenida{
            grid-area: imagen__bienvenida;
            @include box-modelSection(3rem, 1rem);
            @include MedidaImagen(23rem, 20rem);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
        .formulario__contacto{
            grid-area: formulario__contacto;
        }
    }
}

/*------ mediaqueries----*/

@media screen and (min-width:768px){

    /*-------- index -------*/
    .CuerpoIndex{
        grid-template-columns: auto ;
        grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
        grid-template-areas:
                            "section2"
                            "section3__imgmuestra2"
                            "section4"
                            "section5__imgmuestra3";
        .section3__imgmuestra2{
            @include MedidaImagen(32rem, 24rem)
        }
        .section5__imgmuestra3{
            @include MedidaImagen(32rem, 24rem)
        }
    }

    /*--------Nosotros--------*/
    .main__nosotros{
        .contenido__historia{
            grid-template-columns: auto;
            grid-template-rows: 1fr 0.1fr 0.5fr;
            grid-template-areas: 
                                "imgNosotros"
                                "Historia"
                                "Historia__parrafo";
            .imgNosotros{
                @include MedidaImagen(32rem, 24rem)
            } 
            .Historia__parrafo{
                @include box-modelSection(0.2rem,1rem 4rem)
            }
        }
    }

    /*--------Productos--------*/

    /*--------galeria----------*/
    .main__galeria{
        .galeria__productos{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: 
                                "card__desfibrilador card__electrocardiografo"
                                "card__electrobisturi card__maquinaDeAnestesia"
                                "card__lamparaCielticia card__rayos-x";
        }
    }

    /*--------Contacto---------*/
    .main__contacto{
        .contenido__contacto{
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 0.1fr;
            grid-template-areas: 
                                "imagen__bienvenida"
                                "formulario__contacto";
            .imagen__bienvenida{
                grid-area: imagen__bienvenida;
                @include MedidaImagen(32rem, 24rem)
            }
        }
    }
}

@media screen and (min-width:1024px){

    /*--------- index----------*/
    .CuerpoIndex{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
                            "section3__imgmuestra2 section2 "
                            "section4 section5__imgmuestra3";
        .section1__imgmuestra1{
            @include MedidaImagen(40rem,25rem)
        }
        .section2{
            @include box-modelSection(0.2rem,0.5rem)
        }
        .section3__imgmuestra2{
            @include MedidaImagen(40rem,25rem);
            margin:0.5rem;
        }
        .section5__imgmuestra3{
            @include MedidaImagen(40rem,25rem)
        }
        .section4{
            @include box-modelSection(0.8rem,0.5rem)
        }
        .section5__imgmuestra3{
            @include MedidaImagen(23rem,20rem)
        }
    }

    footer{
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 0.3fr;
        grid-template-areas: 
                            "footer__div1 footer__div2 footer__div3"
                            "section6 section6 section6";
        
    }

    /*------- Nosotros ---------*/
    .main__nosotros{
        .contenido__historia{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 1fr;
        grid-template-areas: 
                            "Historia imgNosotros"
                            "Historia__parrafo imgNosotros";
        }
       
    }

    .Nosotros{
        @include box-modelSection(2rem, 0rem)
    }
    .Historia__parrafo{
        @include box-modelSection(0.3rem, 0.8rem 0rem)
    }
    .imgNosotros{
        @include MedidaImagen(30rem ,20rem)
    }


    /*----------Galeria--------*/
    .main__galeria{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 2fr 2fr;
        grid-template-areas:
                            "Galeria Galeria Galeria"
                            "desfibrilador rayos-x electrocardiografo" 
                            "electrobisturi maquinaDeAnestesia lamparaCielitica";
    }


    /*----------Productos--------*/
    .main__galeria{
        .galeria__productos{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: 
                                "card__desfibrilador card__electrocardiografo card__electrobisturi"
                                " card__maquinaDeAnestesia card__lamparaCielticia card__rayos-x";
        }
    }

    /*----------Contacto--------*/
    .main__contacto{
        .contenido__contacto{    
            grid-template-columns: 1fr;
            grid-template-rows: 0.1fr 0.1fr;
            grid-template-areas: 
                                "formulario__contacto imagen__bienvenida";
            .imagen__bienvenida{
                @include MedidaImagen(32rem, 30rem)
            }
        }
    }
}





   





